<connectionStrings>
  <add name="GeniusBaseEntities" 
       connectionString="metadata=res://*/GeniusBaseEntityModel.csdl|res://*/GeniusBaseEntityModel.ssdl|res://*/GeniusBaseEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RJ-FAMILY\SQLEXPRESS;initial catalog=GeniusBase;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />

  <add name="GeniusBaseContext" connectionString="data source=RJ-FAMILY\SQLEXPRESS;initial catalog=GeniusBase;integrated security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
